.contactContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to left, var(--main-blue), var(--secondary-blue));
  height: 100vh;
  color: var(--text-light);

  .contactTitle {
    font-size: 4rem;
    margin-bottom: 4rem;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .separator {
    width: 0.2rem;
    height: 100%;
    background-color: #fff;
    margin-left: 2rem;

    @media (max-width: 600px) {
      width: 100%;
      height: 0.2rem;
      margin-left: 0;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  div {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    div {
      display: flex;
      flex-direction: row;
    }

    .contactIcon {
      font-size: 2rem;
      margin-right: 2rem;

      &:nth-child(1) {
        margin-left: 2rem;
      }

      @media (max-width: 600px) {
        &:nth-child(1) {
          margin-left: 0rem;
        }
      }
    }

    p {
      font-size: 2rem;
      font-weight: bold;
      transition: all 0.5s ease;

      &:hover {
        color: var(--highlight-blue);
      }
    }
  }
}
